<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sign-Up for our newsletter! @Front End Mentor">
    <meta name="keywords"
        content="front, end, mentor, newsletter, sign-up, form, signup, sign, up, zh4r, plamen, vachkov, vachkoff">
    <meta name="author" content="Plamen 'zh4r' Vachkov">
    <meta property="og:description" content="Sign-Up here for our newsletter! @Front End Mentor">
    <meta property="og:image" content="/design/active-states.jpg">
    <meta property="og:title" content="Newsletter Sign-Up">
    <title>Newsletter Sign-Up</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" type="image/x-icon" href="img/icon-success.svg">
</head>

<body>
    <main>
        <header>
            <img src="/img/icon-success.svg" alt="Checkmark image">
            <h1>Thanks for subscribing!</h1>
        </header>
        <section>
            <p>
                A confirmation email has been sent to ash@loremcompany.com.
                Please open it and click the button inside to confirm your subscription.
            <form action="/" method="get">
                <button id="dismiss">Dismiss message</button>
            </form>
            </p>
        </section>
    </main>

</body>

</html>