.pink {
    color: rgb(255, 83, 123);
}

.tomato {
    color: hsl(4, 100%, 67%);
}

.darkSlateGrey {
    color: hsl(234, 29%, 20%);
}

.charcoalGrey {
    color: hsl(235, 18%, 26%);
}

.grey {
    color: hsl(231, 7%, 60%);
}

.white {
    color: hsl(0, 0%, 100%);
}


@font-face {
    font-family: 'Roboto Regular';
    src: url(../fonts/Roboto-Regular.ttf);
    font-size: 12pt;
}

@font-face {
    font-family: 'Roboto Bold';
    src: url(../fonts/Roboto-Bold.ttf);
    font-size: 12pt;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: hsl(235, 18%, 26%);
}

body {
    font-family: 'Roboto Regular';
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    width: 100vw;
}

header {
    line-height: 2.5rem;
}

main {
    margin-top: 0;
    line-height: 1.5rem;
    background-color: white;
    width: 100vw;
    height: 100vh;
    font-weight: 500;
    border-radius: 1rem;
    box-shadow: .1rem .1rem 1rem rgb(0, 0, 0);
    transition: box-shadow .5s;
}

main:hover {
    box-shadow: 13px 13px 20px hsla(0, 0%, 0%, 0.849);
    transition: box-shadow .3s;
}

#banner {
    width: 100vw;
    margin-bottom: 1rem;
}

#icon-success {
    margin: 1.7rem 0 1rem 1.4rem;
}

#thanks {
    padding: 8rem 0 0 0;
}

section,
h1 {
    margin: .5rem 1rem 1.5rem 1.4rem;
}

p {
    margin: 1.6rem 0 1.5rem 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    position: relative;
    padding-left: 2.4rem;
    margin-bottom: .6rem;
}

li::before {
    content: url(../img/icon-list.svg);
    position: absolute;
    left: 0;
    top: 0%;
}

h1 {
    font-family: 'Roboto Bold';
    font-size: 2.5rem;
}

form {
    z-index: 100;
    position: absolute;
    bottom: 0;
    font-weight: 600;
    font-size: .8rem;
    margin: 0 1.5rem 2.5rem 0;
}

input {
    font-size: 1rem;
    font-weight: 600;
    border-radius: .5rem;
    border: 1px solid rgba(0, 0, 0, 0.233);
    padding: 1.1rem;
    margin: .3rem 0 1rem 0;
    width: 100%;
}

input::placeholder {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.267);
}

button {
    border: none;
    font-size: .9rem;
    font-weight: 600;
    background-color: hsl(234, 29%, 20%);
    color: white;
    width: 100%;
    border-radius: .5rem;
    padding: 1.3rem;
    margin: .5rem 0 .4rem 0;
    transition: box-shadow .2s ease-in;
}

button:hover {
    background-image: linear-gradient(45deg, rgb(255, 83, 123), hsl(4, 100%, 67%));
    box-shadow: 1px 6px 20px hsla(4, 100%, 67%, 0.514);
    cursor: pointer;
    transition: box-shadow .4s ease;
}

#dismiss {

}